
:root {
    background: #fff;
    height: -webkit-fill-available;
}

body {
    height: auto;
}

img.mlogo {
    background: #000;
    padding: 10px;
    margin: 20px 0;
}

div.featureoptions {
    position: relative;
    width: 520px;
    margin: 0;
    padding: 0 50px;
    /*box-sizing: border-box;*/
    padding-top: 160px;
}
.row {
     margin-right: 0px; 
     margin-left: 0px;
}

#canvasContainer {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    float: left;
    padding: 0;
    padding-top: 90px;
}

#canvasRowContainer {
    position: fixed;
    height: 70vh;
    width: 70vw;
    z-index: -1;
}

#featuresContainer {
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-bottom: 5px solid rgb(210,210,210);
}

#optionsContainer {
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    top: 0;
    right: 0;
}

#buttonsContainer {
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-top: 5px solid rgb(210,210,210);
}

#summaryContainer {
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-top: 5px solid rgb(210,210,210);
    border-bottom: 5px solid rgb(210,210,210);
}

div.configuration h1 {
    font-size: 18px;
    padding-bottom: 10px;
}

div.configuration div.selection {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}

    div.configuration div.selection p {
        font-size: 13px;
        padding-right: 5px;
        display: inline-block;
        width: 94px;
        text-align: left;
    }

        div.configuration div.selection p.copy {
            font-size: 13px;
            padding: 0 5px;
            display: inline-block;
            width: auto;
            min-width: 110px;
            text-align: left;
        }

    div.configuration div.selection img {
        max-width: 45px;
        display: inline-block;
        padding: 5px;
        margin-left: 5px;
        border: solid 1px rgb(210,210,210);
        background: #fff;
        vertical-align: middle;
    }

#featuresList {
    width: 100%;
}

#geometryChoice {
    border-radius: 0px;
    width: 100%;
    margin: 0px;
}

#materialList {
    padding-left: 0;
    display: block;
}

#colorList {
    display: block;
}

#colorChoice {
    border-radius: 0px;
    padding-top: 10px;
}

div.options {
}

    div.options div.option {
        display: inline-block;
        padding: 7px;
        margin: 0;
        cursor: pointer;
        vertical-align: top;
    }

        div.options div.option div.image {
            display: inline-block;
            padding: 5px;
            border: solid 1px rgb(210,210,210);
            background: #fff;
        }

            div.options div.option div.image img {
                width: 50px;
                vertical-align: top;
            }

        div.options div.option div.text {
            text-align: center;
            padding: 5px 0;
            width: 62px;
            font-size: 12px;
            line-height: 15px;
        }

.receptacleSelector {
    background-color: rgb(210,210,210);
    border-radius: 0;
    margin-right: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    position: inherit;
    top: 0;
    width: 100%;
}

a.download {
    color: rgb(255,255,255);
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-weight: 500;
    font-size: 9px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(122,210,231);
    padding: 10px;
    padding-left: 15px;
    background-image: url('http://magnuson.blob.core.windows.net/sitedocs/imagegallery/arrow-white.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 35px;
    clear: both;
    -webkit-transition: all 400ms; /*safari and chrome */
    -moz-transition: all 400ms ease; /* firefox */
    -o-transition: all 400ms ease; /* opera */
    transition: all 400ms ease;
    border-radius: 3px;
    white-space: nowrap;
}

    a.download:hover {
        color: rgb(255,255,255);
        font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
        font-weight: 500;
        font-size: 9px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: rgb(60,60,60);
        padding: 10px;
        padding-left: 15px;
        background-image: url('http://magnuson.blob.core.windows.net/sitedocs/imagegallery/arrow-white.png');
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 35px;
        clear: both;
        -webkit-transition: all 400ms; /*safari and chrome */
        -moz-transition: all 400ms ease; /* firefox */
        -o-transition: all 400ms ease; /* opera */
        transition: all 400ms ease;
        border-radius: 3px;
        white-space: nowrap;
    }
